server:
  port: 7053
  
spring:
  application:
    name: ApiGateway
    
  cloud:
    gateway:
      routes:
        - id: HOTEL-SERVICE
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path =/users/**
          

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
